@model Model.User

@{
    ViewBag.Title = "Deaktiver Bruker";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Deaktiver Bruker</h2>

<h3>Er du sikker på at du vil deaktivere brukeren?</h3>
<fieldset>
    <legend>
        @Html.DisplayFor(model => model.userName)
    </legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.surName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.surName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telephoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telephoneNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.postcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.postcode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.postcodeArea)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.postcodeArea)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
        <input type="submit" value="Deaktiver" />
}
